body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

#heroesList {
    margin-bottom: 20px;
}

.hero {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#createForm {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

input[type="text"] {
    width: calc(65% - 20px); /* Adjust width to account for padding */
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
